

.nav {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    .nav-item {
        .nav-link {           
            margin-left: 35px;
            color: $theme-font;
            font-size: 16px;
            line-height: 60px;
            cursor: pointer;
            outline: none;
            border: none;
            background: transparent;
            @media (max-width: 768px) {
                margin-left: 20px;
            }
            &.active{
                border-bottom: 3px solid $theme-color;
    
            }
        }
    }
}
// .tab-content {
//     display: none;
// }
.tab-area {
    .property-details {
        li {
            padding: 5px;
            @media (max-width: 1200px) {
                font-size: 11px;
            }
        }
    }
}